#verborder1{
    border-left: solid black 4px;
    height: 535px;
    position: absolute;
    left: 44%;
    margin-top: -180px;
}

#verborder2{
    border-right: solid black 4px;
    height: 535px;
    position: absolute;
    right: 44%;
    margin-top: -180px;
}

#horborder1{
    margin-left: 475px;
    margin-right: 475px;
    margin-top: 250px;
    border-bottom: solid black 4px;
}

#horborder2{
    border-bottom: solid black 4px;
    margin-left: 475px;
    margin-right: 475px;
    margin-top: 175px;
}

#content{
    margin-top: 275px;
}

body{
    background-color: skyblue;
    margin: 10px;
}

header{
    background-color: rgba(119, 90, 90, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

nav > ul > li{
    display: inline;
    padding: 3px 3px;
    font-size: 17px;
}

nav > ul > li > a{
    text-decoration: none;
    width: 100%;
}