body{
    background-color: rgb(116, 196, 196);
    /* border: solid lightgray 10px; */
    margin: 10px;
}

header{
    background-color: rgba(119, 90, 90, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

/* Targeting our Blog */

section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
}

article{
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    margin-right: 150px;
    margin-left: 20px;
}

.title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 45px;
    margin-top: 20px;
}

#content{
    margin-top: 50px;
}

/* Navigation */

nav > ul > li{
    display: inline;
    padding: 3px 9px;
    font-size: 13px;
    letter-spacing: 3px;
}

nav > ul > li > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

nav > ul > li > a:link{
    color: white;
}


nav > ul > li > a:visited{
    color: white;
}

@media (any-hover: hover) {
    nav > ul > li > a:hover{
        color: rgb(212, 226, 9);
    }
}

@media (any-hover: hover) {
    nav > ul > li > a:active{
        color: rgb(212, 226, 9);
    }    
}

a:link{
    color: rgb(58, 14, 216);
}

a:visited{
    color: rgb(58, 14, 216);
}

@media (any-hover: hover) {
    a:hover{
        color: rgb(212, 226, 9);
    }
}

@media (any-hover: hover) {
    a:active{
        color: rgb(235, 20, 20);
    }
}

.info-flex{
    margin-top: 70px;
    display: flex;
}

.item1{
    margin-left: 25px;
    margin-bottom: 20px;
}

.item2{
    margin-top: 10px;
    margin-left: 80px;
    text-align: justify;
}

.img1 {
    float: left;   
    width: 380px;
    height: 300px;
    border-radius: 50%;
}

#clear1{
    clear: both;
}

.head1{
    text-transform: uppercase;
}

#edexp{
    margin-left: 25px;
}

#edexpdate{
    margin-left: 10px;
}

#edexpschool{
    margin-left: 40px;
}

#stjoe{
    margin-left: 5px;
}

#edexp-flex{
    display: flex;
    margin-left: 70px;
    margin-top: -15px;
}

#edexp-right-flex{
    margin-left: 50px;
}

#skills-flex{
    display: flex;
    margin-left: 70px;
    margin-top: -15px;
}

#skills-right-flex{
    margin-left: 25px;
}

#fifa, #java{
    margin-left: 10px;
}

.clear{
    width: 100%;
    clear: both;
}

h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#mypic{
    width: 380px;
    height: 300px;
    border-radius: 50%;
}

#images{
    margin-top: 5px;

}

div img{
    float: left;
    width: 30%;
    margin: 1.666666666%;
}


h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

p{
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
}

.about{
    margin-right: 100px;
    line-height: 25px;
}

#hobbies li{
    line-height: 25px;
}


#hobbies{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    margin-left: 25px;
}

.border{
    border-bottom: solid black 1px;
}


.head3{
    font-size: 1.5rem;
}

#skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px;
}

.links{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.links > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1px 4px;
}

#form{
    margin-top: -20px;
    padding: 40px;
    margin-bottom: -10px;
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email], textarea, select{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 20px;
}

input[type=tel] {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
}

input[type=number] {
    margin-left: 120px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px 2px;
}

input[type=datetime-local] {
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 8px;
    width: 20.5%;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    background-color: rgb(30, 104, 52);
    color: white;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: rgb(47, 126, 71);
}

#forrate{
    margin-left: 100px;
}

#rate{
    margin-top: 10%;
    margin-bottom: 10px;
}

#tel{
    margin-left: 80px;
}

#form h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -0.5px;
}

#formleft{
    margin-left: 100px;
}

#mwfooter{
    margin-top: 14.7%;
}

#mywq{
    margin-top: 130px;
    margin-left: 20px;
}

#questions{
    margin-top: 50px;
    margin-left: 60px;
}

#myworks-content{
    margin-left: 20px;
}

.qlinks{
    text-transform: uppercase;
    margin-left: 60px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

#changes-container{
    margin-left: 50px;
}

.changes{
    font-weight: bold;
}

.description{
    margin-left: 50px;
    margin-top: -10px;
    text-align: justify;
    line-height: 25px;
}

.reflinks:link{
    color: black;
}

.reflinks{
    text-decoration: none;
    color: black;
}

.reflinks-p{
    border: solid rgb(255, 255, 255) 0px;
    color: black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    background-color: rgb(207, 204, 204);
    margin: 0px 1110px 0px 210px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reflinks-p:hover{
    background-color: rgb(185, 184, 184);
}

.wrapper{
    width: 100%;
}